$_main_color: #242424;
$_header_color: #c4f04a;
$_header_hover_color: #8bb714;
$header_bg: linear-gradient(90deg, #dff5a0 0%, #4b7b8b 100%);
$_main_bg: linear-gradient(90deg, #ebfac0 0%, #89a7b2 100%);
$_button_gradient: linear-gradient(90deg, #c4f04a 0%, #19292e 100%);
$_white_color: #e6e7f9;
