$main-color: #242424;
$main-red: #ca2727;
$header_color: #c4f04a;
$_header_accent_color: #8bb714;
$_header_color_bg: linear-gradient(90deg, #dff5a0 0%, #4b7b8b 100%);
$main-bg: linear-gradient(90deg, #ebfac0 0%, #89a7b2 100%);
$button-gradient: linear-gradient(90deg, #c4f04a 0%, #19292e 100%);
$white-color: #e6e7f9;
