<section class="hero-section" id="hero">
  <div class="hero-background">
    <div class="hero-overlay"></div>
    <div class="hero-text">
      <h1 class="title">Welcome to My Portfolio</h1>
      <p class="welcome">Explore my work and experience</p>
    </div>
  </div>
</section>

<section class="about-section" id="about">
  <div class="about-wrapper">
    <div class="about-container container">
      <div class="about-photo-wrapper">
        <img
          class="about-photo"
          height="700"
          width="600"
          src="./img/gallery/event-1.png"
          alt="event"
        />
      </div>
      <div class="about-info-container">
        <h3 class="about-name">Frontend Developer</h3>
        <h4 class="about-my-name">Olena Demianenko</h4>
        <p class="about-desc">
          I am a hardworking, responsible, and detail-oriented Frontend
          Developer with a solid foundation in HTML, CSS, SASS, JavaScript,
          TypeScript, React, Redux, Next.js, and Node.js, Express.js. I am
          highly motivated, committed to continuous self-improvement,
          independently research and learn new technologies to deliver
          high-quality solutions and grow as a frontend developer.
        </p>
      </div>
    </div>
  </div>
</section>
