<section class="about-me-section" id="about">
  <div class="about-me-wrapper">
    <div class="about-me-container container">
      <img
        class="about-me-photo"
        width="500"
        src="./img/gallery/event-1.png"
        alt="event"
      />
      <div class="about-me-info">
        <h2 class="about-me-name">Olena Demianenko Frontend Developer</h2>
        <div>
          <p class="about-me-desc">
            I am a hardworking, responsible and detail-oriented Fullstack
            Developer with a solid foundation in HTML/CSS/SASS/Grid,
            JavaScript/TypeScript, React/Redux/Next.js, Node.js, Express.js. I
            am highly motivated, resourceful, and committed to continuous
            self-improvement, with a strong ability to independently research
            and learn new technologies to deliver high-quality and grow as a
            frontend developer.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
