<!-- <section class="about-section" id="about">
  <div class="about-wrapper">
    <div class="about-container container">
      <img
        class="about-photo"
        width="500"
        src="./img/gallery/event-1.png"
        alt="event"
      />
      <div class="about-info">
        <h3 class="about-name">Frontend Developer</h3>
        <h4>Olena Demianenko</h4>
        <p class="about-desc">
          I am a hardworking, responsible, and detail-oriented Fullstack
          Developer with a solid foundation in HTML/CSS/SASS/Grid,
          JavaScript/TypeScript, React/Redux/Next.js, and Node.js/Express.js. I
          am highly motivated, committed to continuous self-improvement, and
          independently research and learn new technologies to deliver
          high-quality solutions and grow as a frontend developer.
        </p>
      </div>
    </div>
  </div>
</section> -->
<section class="about-section" id="about">
  <div class="about-wrapper">
    <div class="about-container container">
      <img
        class="about-photo"
        width="500"
        src="./img/gallery/event-1.png"
        alt="event"
      />
      <div class="about-info">
        <h3 class="about-name">Frontend Developer</h3>
        <h4 class="about-my-name">Olena Demianenko</h4>
        <p class="about-desc">
          I am a hardworking, responsible, and detail-oriented Frontend
          Developer with a solid foundation in HTML,CSS,SASS,JavaScript,
          TypeScript,React,Redus,Next.js and Node.js,Express.js. I am highly
          motivated,committed to continuous self-improvement, and independently
          research and learn new technologies to deliver high-quality solutions
          and grow as a frontend developer.
        </p>
      </div>
    </div>
  </div>
</section>
