<footer class="contacts" id="footer">
  <div class="contact-wrapper">
    <div class="link-block">
      <h2 class="links-title">Pages:</h2>
      <p class="footer-gallery">
        <a href="./page-2.html" class="footer-link">Gallery page</a>
        <span class="footer-separator">/</span>
        <a href="./page-3.html" class="footer-link">Details page</a>
      </p>
      <p class="footer-copyright">&copy;2025</p>
    </div>
    <div class="contact-block" id="contacts">
      <h2 class="contact-title">Contacts:</h2>
      <ul class="address-mobil-link">
        <li class="adress-mobil-item">
          <a class="address-mob current">+38 (066) 553-45-59</a>
        </li>
        <li class="adress-mobil-item">
          <a class="address-mob">olenademianenko42@gmail.com</a>
        </li>
      </ul>
      <ul class="social mobile">
        <li class="social-item">
          <a
            href="https://t.me/OlenaDemi457"
            class="social-link"
            target="_blank"
            rel="noopener no-referrer"
            aria-label="link to telegram"
          >
            <img src="../img/telegram.png" alt="Telegram" class="social-icon" />
          </a>
        </li>

        <li class="social-item">
          <a
            href="https://www.linkedin.com/in/olena-demianenko0808-383991312/"
            class="social-link"
            target="_blank"
            rel="noopener no-referrer"
            aria-label="link to Linkedin"
          >
            <img src="../img/linkedin.png" alt="LinkedIn" class="social-icon" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
