<section class="projects-section" id="projects">
  <div class="projects-container container">
    <h2 class="projects-title">My Projects</h2>
    <div class="projects-wrap">
      <!-- s -->
      <div
        class="project-card project-image"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
        style="background-image: url('./img/gallery/event-1.png')"
      ></div>
      <!-- e -->

      <!-- s -->
      <div
        class="project-card project-details"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <h3 class="project-name">Events board</h3>
        <p class="project-description">
          Developing a monorepo website with routing.Creating own desing and
          data. This application was built using HTML, CSS,
          JavaScript,React-router, Redux, and Firebase. It is a web application
          for organizers and participants to create and register for events.
        </p>
        <div class="link-container">
          <a
            href="https://github.com/Olena457/events-registration.git"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/github.png" alt="GitHub" />
          </a>
          <a
            href="https://events-registration-ten.vercel.app/"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/internet.png" alt="Live" />
          </a>
        </div>
      </div>
      <!-- e -->

      <!-- s -->
      <div
        class="project-card project-image"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
        style="background-image: url('./img/gallery/lingo-1.png')"
      ></div>
      <!-- e -->

      <!-- s -->
      <div
        class="project-card project-details"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <h3 class="project-name">Learn easy</h3>
        <p class="project-description">
          Developing a monorepo website with routing.Responsive desing,filteing
          data. This application was built using HTML, CSS, JavaScript, React,
          Redux,React-router,React-modal and Firebase. This application is
          designed to help users find a teacher. It utilizes sorting and
          filtering features.
        </p>
        <div class="link-container">
          <a
            href="https://github.com/Olena457/learn-easy.git"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/github.png" alt="GitHub" />
          </a>
          <a
            href="https://learn-easy-tau.vercel.app/"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/internet.png" alt="Live" />
          </a>
        </div>
      </div>
      <!-- e -->

      <!-- s -->
      <div
        class="project-card project-image"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
        style="background-image: url('./img/gallery/campers-1.png')"
      ></div>
      <!-- e -->

      <!-- s -->
      <div
        class="project-card project-details"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <h3 class="project-name">Travel Tracks</h3>
        <p class="project-description">
          An application for booking campers. Technical stack: HTML, CSS,
          JavaScript, React, Redux, Rest API, Git, Vercel. The multi-page
          website with filtering data.
        </p>
        <div class="link-container">
          <a
            href="https://github.com/Olena457/travel-tracks.git"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/github.png" alt="GitHub" />
          </a>
          <a
            href="https://travel-tracks-sepia.vercel.app/"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/internet.png" alt="Live" />
          </a>
        </div>
      </div>
      <!-- s -->
      <!-- _____________________________________________________________________ -->
      <!-- s -->
      <div
        class="project-card project-image"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
        style="background-image: url('./img/gallery/phonebook-1.png')"
      ></div>
      <!-- e -->

      <!-- s -->
      <div
        class="project-card project-details"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <h3 class="project-name">Phone Book</h3>
        <p class="project-description">
          Technical stack: HTML, CSS, JavaScript, React, Redux, Rest API, Git,
          Vercel, Node.js, Mongodb. The multi-page website with filtering data.
          The multi-page website than contains forms. Forms: registration,
          login, and contacts. Contacts form has options: add , remove a phone
          number, search by name, number.
        </p>
        <div class="link-container">
          <a
            href="https://github.com/Olena457/goit-react-hw-08n.git"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/github.png" alt="GitHub" />
          </a>
          <a
            href="https://goit-react-hw-08n.vercel.app/"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/internet.png" alt="Live" />
          </a>
        </div>
      </div>
      <!-- e -->

      <!-- s -->
      <div
        class="project-card project-image"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
        style="background-image: url('./img/gallery/bitcoin-1.png')"
      ></div>
      <!-- e -->

      <!-- s -->
      <div
        class="project-card project-details"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <h3 class="project-name">Cryptocurrency</h3>
        <p class="project-description">
          This website is primarily built usung CSS Grid and features a
          responsive design.It consists of the following pages Technical stack:
          HTML, CSS, JavaScript,Grid. The multi-page,infofmation of the
          cryptocurrency business,documentation processes.Links to
          cryptocurrency websites.
        </p>
        <div class="link-container">
          <a
            href="https://github.com/Olena457/cryptocurrencies-grid.git"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/github.png" alt="GitHub" />
          </a>
          <a
            href="https://olena457.github.io/cryptocurrencies-grid/"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/internet.png" alt="Live" />
          </a>
        </div>
      </div>
      <!-- e -->

      <!-- s -->
      <div
        class="project-card project-image"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
        style="background-image: url('./img/gallery/movie-1.png')"
      ></div>
      <!-- e -->

      <!-- s -->
      <div
        class="project-card project-details"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <h3 class="project-name">Movie Search</h3>
        <p class="project-description">
          Technical stack: HTML, CSS, JavaScript, Rest API,React, Git.This
          user-friendly and an indispensable tool for any movie enthusiast.
          Information about the movie's cast,ratings and reviews and other
          interesting tidbits about actors.
        </p>
        <div class="link-container">
          <a
            href="https://github.com/Olena457/goit-react-hw-05.git"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/github.png" alt="GitHub" />
          </a>
          <a
            href="https://goit-react-hw-05-lyart-gamma.vercel.app/"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/internet.png" alt="Live" />
          </a>
        </div>
      </div>
      <!-- e -->
      <!-- ______________new section_________________________________________________________ -->
      <!-- s -->
      <div
        class="project-card project-image"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
        style="background-image: url('./img/gallery/search-photo-1.png')"
      ></div>
      <!-- e -->
      <!-- s -->
      <div
        class="project-card project-details"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <h3 class="project-name">Search Photo</h3>
        <p class="project-description">
          Technical stack: HTML, CSS, JavaScript, Rest API,Git.This
          user-friendly and an indispensable tool for any photos.Scrolling page,
          function with a random background.
        </p>

        <div class="link-container">
          <a
            href="https://github.com/Olena457/goit-js-hw-12.git"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/github.png" alt="GitHub" />
          </a>
          <a
            href="https://olena457.github.io/goit-js-hw-12/"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/internet.png" alt="Live" />
          </a>
        </div>
      </div>
      <!-- e -->


  </div>
</section>
<!-- _____________________TEAM PROJECTS_______________________ -->
<section class="projects-section">
  <div class="projects-container container">
    <h2 class="projects-title">Team Projects</h2>
    <div class="projects-wrap">
      <!-- s -->
      <div
        class="project-card project-image"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
        style="background-image: url('./img/gallery/aqua-1.png')"
      ></div>
      <!--e -->

      <!--s-->
      <div
        class="project-card project-details"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <h3 class="project-name">Aqua Track</h3>
        <p class="project-description">
          Performed the role of Scrum Master and developer componets"Pages".An
          app that helps track daily water intake. Technical stack: HTML, CSS,
          JavaScript, React,Node.js, Mongodb, Redux, Cloud Services.
        </p>
        <div class="link-container">
          <a
            href="https://github.com/wordisstuff/aqua-front.git"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/github.png" alt="GitHub" />
          </a>
          <a
            href="https://aqua-front-nine.vercel.app/"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/internet.png" alt="Live" />
          </a>
        </div>
      </div>
      <!-- e -->

      <!--s-->
      <div
        class="project-card project-image"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
        style="background-image: url('./img/gallery/portfolio-1.png')"
      ></div>
      <!-- e-->

      <!-- s -->
      <div
        class="project-card project-details"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <h3 class="project-name">Portfolio</h3>
        <p class="project-description">
          Technical stack: HTML, CSS, JavaScript,Rest API Git.Role: developer of
          the section FAQ frontend and logic part of the code.Adaptive layout.
        </p>
        <div class="link-container">
          <a
            href="https://github.com/MaksymMykhailets/portfolio.git"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/github.png" alt="GitHub" />
          </a>
          <a
            href="https://maksymmykhailets.github.io/portfolio/"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/internet.png" alt="Live" />
          </a>
        </div>
      </div>
      <!-- e -->

      <!-- s -->
      <div
        class="project-card project-image"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
        style="background-image: url('./img/gallery/focus-1.png')"
      ></div>
      <!-- e -->

      <!-- s -->
      <div
        class="project-card project-details"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <h3 class="project-name">Focusframe</h3>
        <p class="project-description">
          Role: scrum master, developer. Technical stack: HTML, CSS, JavaScript,
          Git.My part of the project is creating the header section and mobile
          menu width responsive design.
        </p>
        <div class="link-container">
          <a
            href="https://github.com/MaksymMykhailets/focusframe.git"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/github.png" alt="GitHub" />
          </a>
          <a
            href="https://maksymmykhailets.github.io/focusframe-valid/"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/internet.png" alt="Live" />
          </a>
        </div>
      </div>
      <!-- e-->
    </div>
  </div>
</section>
