<section class="projects-section" id="projects">
  <div class="projects-container container">
    <h2 class="projects-title">My Projects</h2>
    <div class="projects-wrap">
      <div
        class="project-card project-image"
        style="background-image: url('./img/gallery/event-1.png')"
      ></div>
      <div
        class="project-card project-details"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <h3 class="project-name">Events board</h3>
        <p class="project-description">
          This application was built using HTML, CSS, JavaScript,React-router,
          Redux, and Firebase. It is a web application for organizers and
          participants to create and register for events.
        </p>
        <div class="link-container">
          <a
            href="https://github.com/Olena457/events-registration.git"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/github.png" alt="GitHub" />
          </a>
          <a
            href="https://events-registration-ten.vercel.app/"
            target="_blank"
            class="icon-link"
          >
            <img src="./img/internet.png" alt="Live" />
          </a>
        </div>
      </div>

      <div
        class="project-card project-image"
        style="background-image: url('./img/gallery/lingo-1.png')"
      ></div>
      <div
        class="project-card project-details"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <h3 class="project-name">Learn easy</h3>
        <p class="project-description">
          This application was built using HTML, CSS, JavaScript, React,
          Redux,React-router, and Firebase. This application is designed to help
          users find a teacher. It utilizes sorting and filtering features.
        </p>
        <a
          href="https://github.com/Olena457/learn-easy.git"
          target="_blank"
          class="icon-link"
        >
          <img src="./img/github.png" alt="GitHub" />
        </a>
        <a
          href="https://learn-easy-tau.vercel.app/"
          target="_blank"
          class="icon-link"
        >
          <img src="./img/internet.png" alt="Live" />
        </a>
      </div>

      <div
        class="project-card project-details"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <h3 class="project-name">Project 3</h3>
        <p class="project-description">Description of Project 3</p>
        <a
          href="https://github.com/username/project3"
          target="_blank"
          class="icon-link"
        >
          <img src="path/to/github-icon.png" alt="GitHub" />
        </a>
        <a href="https://project3-live.com" target="_blank" class="icon-link">
          <img src="path/to/live-icon.png" alt="Live" />
        </a>
      </div>
      <div
        class="project-card project-image"
        style="background-image: url('path/to/project3.png')"
      ></div>

      <div
        class="project-card project-details"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <h3 class="project-name">Project 4</h3>
        <p class="project-description">Description of Project 4</p>
        <a
          href="https://github.com/username/project4"
          target="_blank"
          class="icon-link"
        >
          <img src="path/to/github-icon.png" alt="GitHub" />
        </a>
        <a href="https://project4-live.com" target="_blank" class="icon-link">
          <img src="path/to/live-icon.png" alt="Live" />
        </a>
      </div>
      <div
        class="project-card project-image"
        style="background-image: url('path/to/project4.png')"
      ></div>
    </div>
  </div>
</section>
