<section class="skills-section section" id="skills">
  <div class="skills-wrapper"></div>
  <div class="skills-container container">
    <h2 class="skills-title lng-skills" data-scroll>Skills</h2>
    <div class="skills-wrap">
      <div class="skills-block">
        <ul class="skills-block-list">
          <li data-scroll>HTML5</li>
          <li class="skill-separator">
            <img src="./icons/html.svg" alt="html" />
          </li>
          <li data-scroll>CSS3</li>
          <li data-scroll>SCSS</li>
          <li class="skill-separator">
            <img src="./icons/tailwind.svg" alt="tailwind" />
          </li>
          <li data-scroll>Tailwind</li>

          <li data-scroll>React.js</li>
          <li class="skill-separator">
            <img src="./icons/github.svg" alt="github" />
          </li>
          <li data-scroll>Redux.js</li>
          <li data-scroll>REST API</li>
          <li class="skill-separator">
            <img src="./icons/figma.svg" alt="figma" />
          </li>
          <li data-scroll>TypeScript</li>
          <li data-scroll>Figma</li>
          <li data-scroll>Firebase</li>
          <li class="skill-separator">
            <img src="./icons/sass.svg" alt="SCSS" />
          </li>
          <li data-scroll>Node.js</li>
          <li data-scroll>Next.js</li>
          <li class="skill-separator">
            <img src="./icons/firebase.svg" alt="firebase" />
          </li>
          <li data-scroll>Postman</li>
          <li data-scroll>MongoDB</li>
          <li class="skill-separator">
            <img src="./icons/react.svg" alt="vite" />
          </li>
          <li data-scroll>GIT</li>
          <li data-scroll>JavaScript</li>
        </ul>
      </div>
    </div>
  </div>
</section>
