// .about-section {
//   padding: 16px;
//   background: $_main_bg_color_body;
// }

// .about-wrapper {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   gap: 16px;
// }
// .about-name {
//   font-family: 'Signika', serif;
//   font-size: 24px;
//   font-weight: 700;
//   animation: fadeIn 1.5s ease-in-out;

//   .about-my-name {
//     font-family: 'Signika', serif;
//     font-size: 22px;
//     font-weight: 600;
//     animation: fadeIn 1.5s ease-in-out;
//   }
//   @include media('tablet') {
//     font-size: 28px;
//   }

//   @include media('desktop') {
//     font-size: 32px;
//   }
// }
// .about-container {
//   display: flex;
//   flex-direction: column;
//   // align-items: center;
//   gap: 20px;

//   @include media('tablet') {
//     flex-direction: row;
//     align-items: flex-start;
//     gap: 24px;
//     margin: 20px 30px;
//   }

//   @include media('desktop') {
//     flex-direction: row;
//     align-items: flex-start;
//     gap: 80px;
//     margin: 40px 45px;
//   }

//   @include media('large-desktop') {
//     flex-direction: row;
//     align-items: flex-start;
//     gap: 80px;
//     margin: 50px 60px;
//   }
// }

// .about-photo {
//   width: 100%;
//   max-width: 100%;
//   animation: photoFadeIn 2s ease-in-out;

//   @include media('tablet') {
//     max-width: 350px;
//     margin-bottom: 0;
//     padding-left: 24px;
//   }

//   @include media('desktop') {
//     max-width: 500px;
//     margin: 0 auto;
//   }

//   @include media('large-desktop') {
//     max-width: 500px;
//     margin-bottom: 0;
//     align-self: center;
//   }
// }

// .about-info-wrapper {
//   max-width: 100%;
// }

// .about-info {
//   display: flex;
//   flex-direction: column;
//   gap: 5px;
//   text-align: justify;

//   @include media('tablet') {
//     gap: 10px;
//     margin: 0;
//   }

//   @include media('desktop') {
//     gap: 15px;
//     margin: 0;
//   }
// }

// .about-desc {
//   display: flex;
//   line-height: 1.5;
//   font-size: 16px;
//   animation: fadeIn 2.5s ease-in-out;

//   @include media('tablet') {
//     font-size: 18px;
//     padding-right: 24px;
//   }

//   @include media('desktop') {
//     font-size: 20px;
//     padding-right: 32px;
//   }
// }

// @keyframes fadeIn {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }

// @keyframes photoFadeIn {
//   from {
//     opacity: 0;
//     transform: translateY(-20px);
//   }
//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }
.about-section {
  padding: 20px;
  background: $_main_bg_color_body;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include media('tablet') {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    margin: 10px 20px;
  }

  @include media('desktop') {
    flex-direction: row;
    align-items: flex-start;
    gap: 80px;
    margin: 40px 40px 80px 40px;
  }

  @include media('large-desktop') {
    flex-direction: row;
    align-items: flex-start;
    gap: 70px;
    margin: 40px 40px;
  }
}

.about-name {
  font-family: 'Signika', serif;
  font-size: 24px;
  font-weight: 700;
  animation: fadeIn 1.5s ease-in-out;
  text-shadow: 3px 3px 8px $_shadow_text;

  @include media('tablet') {
    font-size: 28px;
  }

  @include media('desktop') {
    font-size: 32px;
  }
  @include media('large-desktop') {
    font-size: 34px;
  }
}

.about-my-name {
  font-family: 'Signika', serif;
  font-size: 22px;
  font-weight: 600;
  animation: fadeIn 1.5s ease-in-out;
  text-shadow: 3px 3px 6px $_shadow_text;

  @include media('tablet') {
    font-size: 24px;
  }

  @include media('desktop') {
    margin-top: 10px;
    font-size: 26px;
  }
}

.about-photo {
  width: 100%;
  max-width: 100%;
  box-shadow: 0 10px 20px 6px $_photo-shadow;
  // box-shadow: 5px 5px 15px $_photo_shadow;
  animation: photoFadeIn 2s ease-in-out;

  @include media('tablet') {
    max-width: 350px;
    margin-top: 50px;
    // padding-left: 24px;
  }

  @include media('desktop') {
    max-width: 500px;
    margin: 0 auto;
  }

  @include media('large-desktop') {
    max-width: 650px;
    margin-bottom: 0;
    align-self: center;
  }
}

.about-info-wrapper {
  max-width: 100%;
}

.about-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;

  @include media('tablet') {
    gap: 10px;
    margin: 0;
  }

  @include media('desktop') {
    gap: 15px;
    margin: 0;
  }
}

.about-desc {
  font-family: 'Signika', serif;
  font-size: 16px;
  font-weight: 400;
  animation: fadeIn 2.5s ease-in-out;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto;

  @include media('tablet') {
    font-size: 18px;
    // padding-right: 24px;
  }

  @include media('desktop') {
    font-size: 20px;
    // padding-right: 32px;
  }
  @include media('large-desktop') {
    max-width: 650px;
    font-size: 22px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes photoFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
